::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.075);
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
html,
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	font-size: 16px;
	background: #0d1117;
	color: #f0f6fc;
	color: #8b949e;
	font-family: 'Montserrat';
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #f0f6fc;
}
html,
html * {
	box-sizing: border-box;
}

h3 {
	//
	font-weight: normal;
	font-size: 1.15rem;
}

h4 {
	font-size: 1rem;
	//font-weight: normal;
}

.main-grid {
	display: grid;
	grid-template-columns: 1fr;
	min-height: 100vh;
}

section {
	flex: 1 0 auto;
}

.logo {
	font-family: 'Fira Mono', monospace;
	padding: 1rem 0;
	vertical-align: middle;

	text-align: center;
}
.logo h1 {
	font-size: 1.5rem;
	margin: 0;
	color: #edce4d;
	padding: 1rem 0;
}

.hero {
	width: 100%;
	position: fixed;
	top: 0;
	height: 100vh;
	z-index: 2;
	/* transition: all 25ms ease; */
}

.intro {
	display: grid;
	width: 100%;
	align-content: center;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
}

.intro img {
	max-width: 100%;
	margin-bottom: 2rem;
	max-height: 70%;
	border-radius: 50%;
	box-sizing: border-box;
	margin: 0 auto;
	background: linear-gradient(45deg, #edce4d, #79c0ff);
}

.intro-content p {
	margin: 0;
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
	color: #bcc0c4;
}

.intro-content .name {
	color: #fff;
	font-size: inherit;
	font-weight: bold;
	color: #58a6ff;
	color: #edce4d;
	background: linear-gradient(45deg, #edce4d, #79c0ff 80%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.intro-content {
	text-align: center;
}

.intro-content span {
	font-size: 1.6rem;
	color: #fff;
}

a {
	cursor: pointer;
	color: #79c0ff;
	letter-spacing: 0.05rem;
	text-decoration: none;
	//font-weight: normal;
}

a:hover {
	text-decoration: underline;
}

.footer {
	z-index: 2;
	/* height: 100vh; */
	display: grid;
	align-items: center;
	background: rgba(255, 255, 255, 0.025);
	padding: 4rem 0;
	background: #010409;
	background: rgba(0, 0, 0, 0.25);
}
.credits h3 {
	color: #bcc0c4;
}

.credits a {
	/* color: rgba(29, 105, 224, 0.75); */
}

.credits p {
	margin: 0.5rem 0;
	/* color: #787d87; */
}

.social {
	text-align: center;
	margin-bottom: 4rem;
}
.social a {
	position: relative;
	height: 2.8rem;
	width: 2.8rem;
	display: inline-block;
	color: #79c0ff;
	fill: #79c0ff;
	margin: 0 1.2rem;
}

.social a:hover {
	border-radius: 100%;
	transform: scale(1.5);
	transition: background-color 0.5s, transform 0.5s ease-out;
	transition: fill 0.5s, transform 0.5s ease-out;
}
.social a svg {
	height: 100%;
	width: 100%;
}

p {
	font-size: 1rem;
	letter-spacing: 0.05rem;
	line-height: 1.5;
}

.gradient-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background-color: #161b22;
	z-index: 1;
}

@keyframes moveUp {
	to {
		transform: translateY(0);
		opacity: 1;
		letter-spacing: 0.1rem;
	}
}

section {
	z-index: 1;
}

.main-content {
	margin-top: 100vh;
}

.container {
	margin: 0 auto;
	clear: both;
	position: relative;
}

.main-content > article .container {
	margin-bottom: 5rem;
	position: relative;
	/* background: #010409; */
	margin: 0 1rem 3rem;
	/* border-radius: 16px; */
	padding: 1.5rem;
	padding-bottom: 2rem;
	/* box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 80%) 0px 6px 6px -2px; */
}

.emp-card {
	margin: 0;
	padding-left: 2rem;
	margin-bottom: 3px;
	position: relative;
	padding-bottom: 3rem;
	box-shadow: none;
	border: none;
}

.emp-card::before {
	content: '';
	display: inline-block;
	height: 100%;
	width: 0px;
	background-color: transparent;
	position: absolute;
	border: none;
	border-right: 2px dashed #636d72;
	left: calc(0.5rem - 1px);
	top: 0;
}

.emp-card:last-child {
	padding-bottom: 0;
}

.emp-card .company {
	margin: 0;
	color: #f0f6fc;
}

.emp-card .timeline {
	font-size: 0.75rem;
	color: #787d87;
	margin: 0;
	position: relative;
	color: #edce4d;
}
.emp-card .timeline::before {
	content: '';
	display: inline-block;
	height: 1rem;
	width: 1rem;
	background-color: #edce4d;
	border-radius: 50%;
	position: absolute;
	left: -2rem;
}
.emp-card ul {
	margin: 0;
	padding-inline-start: 1rem;
}

.emp-card .position,
.emp-card .timeline {
	display: inline-block;
}

p.position {
	margin-top: 0;
	/* color: #bcc0c4; */
	//font-weight: bold;
	color: #fff;
}

.emp-card li:before {
	content: '-';
	position: absolute;
	left: -1rem;
}

.emp-card li {
	line-height: 1.5;
	list-style: none;
	position: relative;
	/* color: #bcc0c4; */
}

.emp-card li + li {
	margin-top: 0.5rem;
}

.emp-card .card h3 {
	font-size: 1.5rem;
	//font-weight: normal;
}

h2 {
	font-size: 1.5rem;
}

header {
	z-index: 2;
	position: absolute;
	top: 0;
	width: 100%;
	display: none;
}

.card {
	padding-bottom: 1rem;
	border-radius: 8px;
	background: #161b22;
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.4) 0px 6px 6px -2px;
}

.card > .img-container {
	width: 100%;
	height: 200px;
	border-radius: 8px 8px 0 0;
	margin: 0 auto !important;
	text-align: center;
	/* background: #000; */
	position: relative;
}
.card > .img-container::after {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 8px 8px 0 0;
}
.card .img-container > img {
	height: 100%;
	object-fit: cover;
	object-position: top;
	max-width: 300px;
	max-height: 300px;
	margin: 0 auto !important;
	text-align: center;
}

.card > *:not(img) {
	margin-left: 1rem !important;
	margin-right: 1rem !important;
}

.card .content {
	padding-bottom: 1rem;
	position: relative;
	/* height: 100%; */
}

.project-cards {
	display: grid;

	grid-gap: 2rem;
}

.project-cards .card {
	display: grid;
	grid-template-rows: min-content min-content;
	grid-row-gap: 1rem;
	background: #0e223a;
	/* height: 100%; */
}

.project-cards .card h3 {
	/* font-size: 1.25rem; */
	margin-top: 0;
}
.project-cards .card p {
	/* color: #bcc0c4; */
}

.project-cards .card a {
	/* position: absolute; */
	font-size: 0.85rem;
	bottom: 0;
}
.credits {
	text-align: center;
}

article h2 {
	margin-top: 0;
	color: #787d87;
	color: #484f58;
	margin-bottom: 2rem;
	font-size: 1.7rem;
	display: INLINE-BLOCK;
	background: linear-gradient(45deg, #edce4d, #79c0ff 80%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

h2 + p {
	margin-top: 0;
}
.container p:last-child {
	margin: 0;
}

/**    Media Queries */
@media (min-width: 500px) {
	.intro img {
		max-height: 55%;
	}
}
@media (min-width: 500px) {
	.main-content > article .container {
		margin: 0 2rem 3rem;
	}
}
@media (min-width: 768px) {
	html,
	body {
		font-size: 20px;
	}
	.intro {
		width: 100%;
		grid-template-columns: auto min-content;
		align-items: center;
		grid-gap: 4rem;
	}
	.intro img {
		min-width: 10rem;
		min-height: 10rem;
	}
	.intro-content {
		grid-area: 1/1;
		text-align: left;
	}

	.intro-content span {
		font-size: 1.75rem;
	}
	.intro-content p {
		margin: 0;
		margin-bottom: 0.5rem;
		font-size: 1.5rem;
	}

	.project-cards .card a {
		/* bottom: 1rem; */
	}

	.main-content > article .container {
		margin: 0 5rem 3rem;
	}

	.project-cards {
		/* display: grid; */
		grid-template-columns: repeat(auto-fill, 300px);
		/* grid-column-gap: 1rem; */
		/* grid-row-gap: 0; */
		/* padding: 0; */
		/* width: auto; */
	}
	.project-cards .card {
		/* display: grid; */
		/* grid-template-columns: 300px 300px 300px; */
		/* grid-column-gap: 1rem; */
		/* grid-row-gap: 0; */
		/* padding: 0; */
		/* width: auto; */
	}
	.card > .img-container {
		/* width: 250px; */
		/* height: 230px; */
		/* max-height: 100%; */
		/* border-radius: 8px 0 0 8px; */
		/* margin: 0 auto !important; */
		/* text-align: center; */
		/* overflow: hidden; */
	}
	.card > .img-container::after {
		border-radius: 8px 0 0 8px;
	}
	.card .content {
		/* padding-top: 1rem; */
		/* padding-bottom: 1rem; */
	}
}

@media (min-width: 1024px) {
	html,
	body {
		font-size: 20px;
	}
	.logo h1 {
		font-size: 1rem;
	}
	.intro span {
		font-size: 2rem;
	}
	.main-content > article .container {
		margin: 0 10rem 3rem;
	}
}

@media (min-width: 1400px) {
	.main-content > article .container {
		/* margin: 0 15rem 3rem; */
	}
}

@media (min-width: 2000px) {
	.main-content > article .container {
		margin: 0 20rem 3rem;
	}
}

a[target='_blank']::after {
	content: url(icon.svg);
	width: 0.5rem;
	display: inline-block;
	margin-left: 0.25rem;
}

/* Waves */

svg#wave {
	//height: 75vh !important;
}

.waves-container {
	position: absolute;
	left: -3%;
	right: -3%;
	bottom: 0px;
	width: 106%;
	min-width: 600px;
}

.waves {
	width: 100%;
	position: relative;
	width: 100%;
	height: 15vh;
	margin-bottom: -7px; /*Fix for safari gap*/
	min-height: 100px;
	max-height: 150px;
}

/* Animation */

.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}
.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}
.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}
.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}
@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}
	100% {
		transform: translate3d(85px, 0, 0);
	}
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
	.waves {
		height: 100px;
		min-height: 40px;
	}

	h1 {
		font-size: 24px;
	}
}
